{% extends 'base/base.html' %}

{% block title %}Authentication Login{% endblock %}

{% block content %}
<div id="auth">
    <div class="row h-100">
        <div class="col-lg-5 col-12">
            <div id="auth-left">
                <h1 class="auth-title">Log in.</h1>
                <p class="auth-subtitle mb-5">Log in with your data that you entered during registration.</p>

                {% if error_messages %}
                    {% for field, errors in error_messages.items %}
                        {% for error in errors %}
                            <div class="alert alert-danger alert-dismissible show fade">
                                {{ error }}
                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                            </div>
                        {% endfor %}
                    {% endfor %}
                {% endif %}

                {% if messages %}                    
                    {% for message in messages %}
                        {% if message.extra_tags == 'success_registered' %}
                        <div class="alert alert-success alert-dismissible fade show" role="alert">
                            {{ message }}
                            <button type="button" class="btn-close text-white" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                        {% endif %}


                        {% if message.extra_tags == 'password_reset_success' %}
                        <div class="alert alert-success alert-dismissible fade show" role="alert">
                            {{ message }}
                            <button type="button" class="btn-close text-white" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                        {% endif %}

                    {% endfor %}
                {% endif %}



                <form action="{% url 'login' %}" method="POST">
                    {% csrf_token %}
                    <div class="form-group position-relative has-icon-left mb-4">
                        {{ form.username }}
                        <div class="form-control-icon">
                            <i class="bi bi-person"></i>
                        </div>
                    </div>
                    <div class="form-group position-relative has-icon-left mb-4">
                        {{ form.password }}
                        <div class="form-control-icon">
                            <i class="bi bi-shield-lock"></i>
                        </div>
                    </div>
                    <div class="form-check form-check-lg d-flex align-items-center justify-content-between">
                        <div class="d-flex align-items-center">
                         <input class="form-check-input me-2" type="checkbox" value="" id="flexCheckDefault" checked >
                         <label class="form-check-label text-gray-600" for="flexCheckDefault">
                             Keep me logged in
                         </label>
                        </div>
                        <div>
                         <span class="text-gray-600">Forgot Password? <a href="{% url 'reset' %}" class="font-bold">Click here</a>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary btn-block btn-lg shadow-lg mt-5">Log in</button>
                </form>
                <div class="text-center mt-5 text-lg fs-4">
                    <p class="text-gray-600">Don't have an account? <a href="{% url 'register' %}" class="font-bold">Sign
                            up</a>.</p>
                </div>
            </div>
        </div>
        <div class="col-lg-7 d-none d-lg-block">
            <div id="auth-right">
    
            </div>
        </div>
    </div>
    
        </div>
{% endblock %}