{% extends 'base/base.html' %}
{% block title %}New Password{% endblock %}


{% block content %}
<div id="auth">
    <div class="row h-100">
        <div class="col-lg-5 col-12">
            <div id="auth-left">
                <h1 class="auth-title">New Password.</h1>

                {% if user_not_found %}                    
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        {{ user_not_found }}
                        <button type="button" class="btn-close text-white" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endif %}

                {% if password_not_matched %}                    
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        {{ password_not_matched }}
                        <button type="button" class="btn-close text-white" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endif %}

                <form method="POST">
                    {% csrf_token %}
                    
                    {{ form.mobile }}
                    
                    {{ form.email }}
                      
                    <div class="form-group position-relative has-icon-left mb-4">
                        {{ form.new_password }}
                        <div class="form-control-icon">
                            <i class="bi bi-shield-lock"></i>
                        </div>
                    </div>

                    <div class="form-group position-relative has-icon-left mb-4">
                        {{ form.confirm_password }}
                        <div class="form-control-icon">
                            <i class="bi bi-shield-lock"></i>
                        </div>
                    </div>

                    <button type="submit" class="btn btn-primary btn-block btn-lg shadow-lg">Confirm Change Password</button>
                </form>
                <div class="text-center mt-5 text-lg fs-4">
                    <p class="text-gray-600">Don't have an account? <a href="{% url 'register' %}" class="font-bold">Sign
                            up</a>.</p>
                </div>
            </div>
        </div>
        <div class="col-lg-7 d-none d-lg-block">
            <div id="auth-right">
    
            </div>
        </div>
    </div>
    
        </div>
{% endblock %}