{% extends 'base/main_base.html' %}
{% load static %}
{% block title %}Equipment Module{% endblock %}
{% block page_title %}Equipment Module{% endblock %}
{% block page_title_desc %}Manage your equipment data{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'assets/extensions/simple-datatables/style.css' %}">
<link rel="stylesheet" href="{% static 'assets/compiled/css/table-datatable.css' %}">
{% endblock %}

{% block breadcrumb %}
<nav aria-label="breadcrumb" class="breadcrumb-header float-start float-lg-end">
    <ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="#">Dashboard</a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">
        Equipment List
    </li>
    </ol>
</nav>
{% endblock%}

{% block content %}
<section class="section">

    {% if messages %}                    
        {% for message in messages %}
            {% if message.extra_tags == 'delete_equipment' %}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="btn-close text-white" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% endif %}
        {% endfor %}
    {% endif %}

    <div class="card">
        <div class="card-header d-flex justify-content-between">
            <h4 class="card-title">Availability of Equipments</h4>
        </div>

        <div class="card-body">
            <table class="table table-striped" id="table1">
                <thead>
                    <tr>
                        <th>Equipment</th>
                        <th>Status</th>
                        <th>Date Added</th>
                    </tr>
                </thead>
                <tbody>
                    {% for data in equipments %}
                    <tr>
                        <td>
                            <a href="#" class="fw-bold">{{ data.eqiupment_name }}</a>
                        </td>
                        <td>
                            <span class="badge bg-{% if data.eqiupment_status == 'UNAVAILABLE' %}danger{% else %}success{% endif %}">{{ data.eqiupment_status }}</span>
                        </td>
                        <td>
                           {{ data.date_added }}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</section>
{% endblock %}


{% block extra_scripts %}
<script src="{% static 'assets/extensions/simple-datatables/umd/simple-datatables.js' %}"></script>
<script src="{% static 'assets/static/js/pages/simple-datatables.js' %}"></script>
{% endblock %}