{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'assets/compiled/css/app.css' %}">
    <link rel="stylesheet" href="{% static 'assets/compiled/css/app-dark.css' %}">
    <link rel="stylesheet" href="{% static 'assets/compiled/css/auth.css' %}">
</head>
<body>
    <script src="{% static 'assets/static/js/initTheme.js' %}"></script>
    {% block content %}

    {% endblock %}
</body>
</html>